In [ ]:
# set_index : 기존의 행 인덱스를 제거하고 데이터 열 중 하나를 인덱스로 설정
# reset_index : 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가

In [2]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(0)
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3,5), 2)]).T,
                   columns=["C1","C2","C3","C4"])
df1

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

In [4]:
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.55  0.65  0.79
B   0.72  0.44  0.53
C    0.6  0.89  0.57
D   0.54  0.96  0.93
E   0.42  0.38  0.07

In [5]:
df2.set_index("C2")

        C3    C4
C2
0.55  0.65  0.79
0.72  0.44  0.53
0.6   0.89  0.57
0.54  0.96  0.93
0.42  0.38  0.07

In [6]:
df2

      C2    C3    C4
C1
A   0.55  0.65  0.79
B   0.72  0.44  0.53
C    0.6  0.89  0.57
D   0.54  0.96  0.93
E   0.42  0.38  0.07

In [ ]:
# reset_index 메서드를 쓰면 인덱스를 보통의 자료열로 바꿀 수도 있다.

In [7]:
df2.reset_index()

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

In [8]:
df2

      C2    C3    C4
C1
A   0.55  0.65  0.79
B   0.72  0.44  0.53
C    0.6  0.89  0.57
D   0.54  0.96  0.93
E   0.42  0.38  0.07

In [9]:
df2.reset_index(drop=True)

     C2    C3    C4
0  0.55  0.65  0.79
1  0.72  0.44  0.53
2   0.6  0.89  0.57
3  0.54  0.96  0.93
4  0.42  0.38  0.07

In [10]:
np.random.seed(0)
df3 = pd.DataFrame(np.round(np.random.randn(5,4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C1", "C2", "C1", "C2"]])
df3

      A           B
     C1    C2    C1    C2
0  1.76  0.40  0.98  2.24
1  1.87 -0.98  0.95 -0.15
2 -0.10  0.41  0.14  1.45
3  0.76  0.12  0.44  0.33
4  1.49 -0.21  0.31 -0.85

In [11]:
df3.columns.names = ["Cidx1", "Cidx2"]
df3

Cidx1     A           B
Cidx2    C1    C2    C1    C2
0      1.76  0.40  0.98  2.24
1      1.87 -0.98  0.95 -0.15
2     -0.10  0.41  0.14  1.45
3      0.76  0.12  0.44  0.33
4      1.49 -0.21  0.31 -0.85

In [13]:
np.random.seed(0)
df4 = pd.DataFrame(np.round(np.random.randn(6,4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C", "D", "C", "D"]],
                   index=[["M", "M", "M", "F", "F", "F"],
                          ["id_" + str(i+1) for i in range(3)] * 2])
                        
df4.columns.names = ["Cidx1", "Cidx2"]
df4.index.names = ["Ridx1", "Ridx2"]
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [ ]:
# stack 
# 열 인덱스 -> 행 인덱스로 변환

# unstack
# 행 인덱스 -> 열 인덱스로 변환

In [15]:
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [16]:
df4.stack("Cidx1")

Cidx2                 C     D
Ridx1 Ridx2 Cidx1
M     id_1  A      1.76  0.40
            B      0.98  2.24
      id_2  A      1.87 -0.98
            B      0.95 -0.15
      id_3  A     -0.10  0.41
            B      0.14  1.45
F     id_1  A      0.76  0.12
            B      0.44  0.33
      id_2  A      1.49 -0.21
            B      0.31 -0.85
      id_3  A     -2.55  0.65
            B      0.86 -0.74

In [17]:
df4.stack(1)

Cidx1                 A     B
Ridx1 Ridx2 Cidx2
M     id_1  C      1.76  0.98
            D      0.40  2.24
      id_2  C      1.87  0.95
            D     -0.98 -0.15
      id_3  C     -0.10  0.14
            D      0.41  1.45
F     id_1  C      0.76  0.44
            D      0.12  0.33
      id_2  C      1.49  0.31
            D     -0.21 -0.85
      id_3  C     -2.55  0.86
            D      0.65 -0.74

In [18]:
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [19]:
df4.unstack("Ridx2")

Cidx1     A                                   B
Cidx2     C                 D                 C                 D
Ridx2  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3
Ridx1
F      0.76  1.49 -2.55  0.12 -0.21  0.65  0.44  0.31  0.86  0.33 -0.85 -0.74
M      1.76  1.87 -0.10  0.40 -0.98  0.41  0.98  0.95  0.14  2.24 -0.15  1.45

In [20]:
df4.unstack(0)

Cidx1     A                       B
Cidx2     C           D           C           D
Ridx1     F     M     F     M     F     M     F     M
Ridx2
id_1   0.76  1.76  0.12  0.40  0.44  0.98  0.33  2.24
id_2   1.49  1.87 -0.21 -0.98  0.31  0.95 -0.85 -0.15
id_3  -2.55 -0.10  0.65  0.41  0.86  0.14 -0.74  1.45

In [21]:
df3

Cidx1     A           B
Cidx2    C1    C2    C1    C2
0      1.76  0.40  0.98  2.24
1      1.87 -0.98  0.95 -0.15
2     -0.10  0.41  0.14  1.45
3      0.76  0.12  0.44  0.33
4      1.49 -0.21  0.31 -0.85

In [22]:
df3[("B", "C1")]

0    0.98
1    0.95
2    0.14
3    0.44
4    0.31
Name: (B, C1), dtype: float64

In [23]:
df3.loc[0, ("B", "C1")]

0.98

In [24]:
df3.loc[0, ("B", "C1")] = 100
df3

Cidx1     A             B
Cidx2    C1    C2      C1    C2
0      1.76  0.40  100.00  2.24
1      1.87 -0.98    0.95 -0.15
2     -0.10  0.41    0.14  1.45
3      0.76  0.12    0.44  0.33
4      1.49 -0.21    0.31 -0.85

In [25]:
df3.iloc[0,2]

100.0

In [26]:
df3['A']

Cidx2    C1    C2
0      1.76  0.40
1      1.87 -0.98
2     -0.10  0.41
3      0.76  0.12
4      1.49 -0.21

In [27]:
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [28]:
df4.loc[("M", "id_1"), ("A", "C")]

1.76

In [29]:
df4.loc[:, ("A", "C")]

Ridx1  Ridx2
M      id_1     1.76
       id_2     1.87
       id_3    -0.10
F      id_1     0.76
       id_2     1.49
       id_3    -2.55
Name: (A, C), dtype: float64

In [30]:
df4.loc[("M", "id_1"), :]

Cidx1  Cidx2
A      C        1.76
       D        0.40
B      C        0.98
       D        2.24
Name: (M, id_1), dtype: float64

In [31]:
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [33]:
df4.loc[("All", "All"), :] = df4.sum()
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74
All   All    3.23  0.39  3.68  2.28

In [34]:
df4.loc["M"]

Cidx1     A           B
Cidx2     C     D     C     D
Ridx2
id_1   1.76  0.40  0.98  2.24
id_2   1.87 -0.98  0.95 -0.15
id_3  -0.10  0.41  0.14  1.45

In [35]:
df4.loc[("M", slice(None)), :]

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45

In [36]:
df4.loc[(slice(None), "id_1"), :]

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
F     id_1   0.76  0.12  0.44  0.33

In [37]:
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74
All   All    3.23  0.39  3.68  2.28

In [38]:
df5 = df4.swaplevel("Ridx1", "Ridx2")
df5

Cidx1           A           B
Cidx2           C     D     C     D
Ridx2 Ridx1
id_1  M      1.76  0.40  0.98  2.24
id_2  M      1.87 -0.98  0.95 -0.15
id_3  M     -0.10  0.41  0.14  1.45
id_1  F      0.76  0.12  0.44  0.33
id_2  F      1.49 -0.21  0.31 -0.85
id_3  F     -2.55  0.65  0.86 -0.74
All   All    3.23  0.39  3.68  2.28

In [39]:
df6 = df4.swaplevel("Cidx1", "Cidx2", 1)
df6

Cidx2           C     D     C     D
Cidx1           A     A     B     B
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74
All   All    3.23  0.39  3.68  2.28

In [40]:
df5

Cidx1           A           B
Cidx2           C     D     C     D
Ridx2 Ridx1
id_1  M      1.76  0.40  0.98  2.24
id_2  M      1.87 -0.98  0.95 -0.15
id_3  M     -0.10  0.41  0.14  1.45
id_1  F      0.76  0.12  0.44  0.33
id_2  F      1.49 -0.21  0.31 -0.85
id_3  F     -2.55  0.65  0.86 -0.74
All   All    3.23  0.39  3.68  2.28

In [41]:
df5.sort_index(level=0)

Cidx1           A           B
Cidx2           C     D     C     D
Ridx2 Ridx1
All   All    3.23  0.39  3.68  2.28
id_1  F      0.76  0.12  0.44  0.33
      M      1.76  0.40  0.98  2.24
id_2  F      1.49 -0.21  0.31 -0.85
      M      1.87 -0.98  0.95 -0.15
id_3  F     -2.55  0.65  0.86 -0.74
      M     -0.10  0.41  0.14  1.45

In [43]:
df6.sort_index(axis=1, level=0)

Cidx2           C           D
Cidx1           A     B     A     B
Ridx1 Ridx2
M     id_1   1.76  0.98  0.40  2.24
      id_2   1.87  0.95 -0.98 -0.15
      id_3  -0.10  0.14  0.41  1.45
F     id_1   0.76  0.44  0.12  0.33
      id_2   1.49  0.31 -0.21 -0.85
      id_3  -2.55  0.86  0.65 -0.74
All   All    3.23  3.68  0.39  2.28